@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #EFEAE0;
    border-radius: 10px;
  }
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #9CA3AF;
  pointer-events: none;
  display: block;
}

/* Responsif Gambar di Dalam Teks Catatan */
.editor-content img {
  max-width: 100%;
  height: auto;
  border-radius: 0.75rem;
  margin: 0.75rem 0;
  border: 1px solid #EFEAE0;
  display: block;
}

/* Penyesuaian Sentuhan di Layar HP */
@media (max-width: 640px) {
  button, input, select {
    min-height: 38px; /* Memudahkan ketukan jari di HP */
  }
}